<br>
<br>
<br>
<h1> All Ingredients </h1>

<div id="ingredients">
<% @ingredients.each do |ingredient|%>

<div id="image_div"><%= image_tag ingredient.img_url, :size => '300x350' %></div>
<div class= "description">
<%= link_to ingredient.name, ingredient, class:"title" %><br>
<%= ingredient.description%>

</div>
<% end %>
</div>