<h1> Ingredients </h1>
<div id="ingredient">
<div class="ingredients">
<% @ingredients.each do |ingredient|%>

<%= link_to ingredient.name, ingredient%><br>
<div>
<%= image_tag ingredient.img_url, style: 'height:50px;width:100px;margin-bottom:20px;'%>
<% end %>