
<br>
<br>
<br>
<br>
<div>
    <%= image_tag @ingredient.img_url, :size => '260x180' %>
   <h1><%= @ingredient.name %></h1>
        <p>
            <i class="fas fa-map-marked-alt"></i>
            <%= @ingredient.description %>
        </p>
</div>