// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;

	img {
		height: 200px;
		object-fit: cover;
	}

	.name {
		text-decoration: none;
		color: rgb(140, 187, 86);
		font-size: 19px;
	}
}

@media (max-width: 550px) {
	.products {
		grid-template-columns: 1fr;
	}
}