<h1> All Products </h1>

<div id="products">
<div class= "product">
<% @products.each do |product|%>

<%= image_tag product.img_url, :size => '300x350' %>
<div class= "description">
<%= link_to product.name, product, class:"title" %><br>
<%= product.description%>

</div>
<% end %>
</div>