<h1> All Products </h1>


<% @products.each do |product|%>
<div id="products">
<div id="image_div"><%= image_tag product.img_url, :size => '300x350' %></div>
<div class= "description">
<%= link_to product.name, product, class:"title" %><br>
<%= product.description%>

</div>
<% end %>
</div>